*{
	margin: 0px auto;
}
.ullist ul {
	position: relative;
	top: 40px;
	padding-left: 60px;
}
ul{
	list-style: none;
}
.ullist ul>li a{
	
	line-height: 30px;
	font-size: 19px;
	height: 30px;
	
}
.downList{
	float: right;
}
.head{
	height: 270px;
	background-color:dodgerblue;
}
.downList a{
	padding-right: 20px;
}
.logos{
	border: 1px solid goldenrod;
	width: 70px;
	height: 30px;
	display: inline-block;

	
}

.login{
	position: relative;
	left:568PX ;
	top: 30px;
}
.logo{
	position: relative;
	padding-top: 40px;
	left: 650px;
}
a{
	color: black;
	text-decoration:none;
}
.top ul>li a{
	font-size: 18px;
	
}
.top ul{
	padding-left: 360px;
}
.top ul>li {
	padding-top: 20px;
	display: inline-block;
	margin-left: 30px;
}
.ullist{
	border: 2px solid gainsboro;
	box-shadow:gainsboro  1px 1px 2px 1px;
	width: 240px;
	height: 300px;
	position: relative;
	top: 60px;
	float: left;
	margin-left: 80px;
}
.ullist ul>li{
	padding-bottom: 20px;
}
.show{
	border: 2px solid gainsboro;
	box-shadow:gainsboro  1px 1px 2px 1px;
	width:600px ;
	height: auto;
	position: relative;
	top: 60px;
	left: 10px;
}
.alt{
	display: inline-block;
	width: 600px;
	height: 27px;
	line-height: 27px;
	text-align: center;
}
#house,#infos,#pass{
	position: relative;
	width: 700px;
	border: 2px solid  gainsboro;
	box-shadow:gainsboro  1px 1px 2px 1px;
	
}
.sp{
	padding-top: 30px;
	padding-left: 90px;
	height: 18px;
	padding-bottom: 40px;
	line-height:18px;
	display: inline-block;
}
#house{
	top: 63px;
	z-index: 3;
	width: 700px;
	border: goldenrod;	
	height: auto;
	left: 30px;
	
}
#infos{
	top: 63px;
	z-index: 2;
	display: none;
}

#pass{
	top:36px;
	z-index: 1;
	display: none;
	height: 300px;
	
}
#submit,#infosub{
	width: 70px;
	height: 30px;
	position: relative;
	
}
#submit{
	left:250px;
}
.inp,.inpu{
	margin-left: 15px;
	width: 220px;
	height: 25px;
	line-height: 30px;
}
.profile-list>li{
	height: 30px;
	line-height: 30px;
	padding-top: 22px;
}
.profile-list>li span{
	font-size: 18px;
}
.troduce{
	padding-left: 80px;
	color: dodgerblue;
}
#price{
	font-size: 30px;
	color: red;
	float: right;
	padding-right: 50px;
}
#infosub{
	left: 270px;
	top:70px ;
	
}
.conten{
	position: relative;
	top: 40px;
	left:140px;
}
.conten>li{
	color: royalblue;
	font-size: 18px;
	margin: 18px;
}
.picture{
	border: 1px solid darkgoldenrod;
	height: 170px;
	width: 170px;
	position: absolute;
	top: 100px;
	left: 40px;
}
.profile-list{
	padding-left: 140px;
}
