@CHARSET "UTF-8";
.search_input {
    height: 40px;
}

.bread_box {
	width: 1188px;
    padding: 10px;
    margin: 0 auto;
}
.bread_box a{
	color: #000;
}
.prosum_box {
    width: 1188px;
    border: solid 1px #ddd;
    background: #fff;
    overflow: hidden;
    margin: 0 auto 20px;
}

.prosum_box .prosum_left {
    margin: 20px;
    overflow: hidden;
    width: 684px;
    float: left;
}

.prosum_box .prosum_left .big_img {
    width: 570px;
    height: 340px;
}

.prosum_box .prosum_left .little_img img {
    width: 110px;
    height: 70px;
    opacity: 0.6;
}

.prosum_box .prosum_left .little_img img:hover {
    opacity: 1.0;
}

.prosum_box .prosum_left .cur_img img {
    opacity: 1.0;
}

.prosum_box .prosum_left .up_img,
.prosum_box .prosum_left .down_img {
    width: 110px;
    height: 20px;
    background: #333;
}

.prosum_box .prosum_left .up_img {
    background: url("../images/arrows.jpg") no-repeat;
    background-position: 0px -20px;
}

.prosum_box .prosum_left .up_img_disable {
    background-position: 0px 0px;
}

.prosum_box .prosum_left .down_img {
    background: url("../images/arrows.jpg") no-repeat;
    background-position: 0px -60px;
}

.prosum_box .prosum_left .down_img_disable {
    background-position: 0px -40px;
}

.prosum_box .prosum_left dt {
    float: left;
    margin-right: 4px;
}

.prosum_box .prosum_left dd {
    float: left;
}

.prosum_box .prosum_left dd a {
    display: block;
    margin-bottom: 4px;
}

.prosum_box .prosum_right {
    float: left;
    width: 462px;
    margin: 20px 0px 20px 0px;
}

.prosum_box .prosum_right .pros_title {
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
    margin-bottom: 5px;
}

.hot {
	font-size: 14px;
	color: #ff4848;
}

.pros_other {
	background: #eee;
	font-size: 14px;
	padding: 10px 0 10px 10px;
	margin-top: 10px;
}
.pros_other p{
	line-height: 24px;
}
.pros_price {
	background: #eee;
	margin-top: 40px;
	padding: 10px 0 20px 10px;
}
.pros_price  .price strong{
	color: #ff4848;
	font-size: 26px;
	font-weight: normal;
}
.collect {
	margin-top: 30px;
}
.collect a {
	font-size: 14px;
    background: #ff4848;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}
.collect .already{
	background: #ccc;
}
.collect a i{
	font-size: 16px;
    vertical-align: top;
    margin-right: 3px;
}
.you_need_konw {
	width: 1188px;
    margin: 60px auto;
    border: 1px,solid,red;
}
.you_need_konw span {
	font-size: 16px;
	border-bottom: 3px solid #ffc900;
}


.notice p {
	line-height: 24px;
	font-size: 16px;
	margin-bottom: 20px;
}

#flss{
	color: #101d37;
}
#flss>.fl.oneline{
	    width: 33%;
    text-align: left;
    line-height: 18px;
    font-size: 16px;
    margin-bottom: 18px;
	
}
.notice {
	width:1000;
	border: solid 1px #ddd;
	height:1600px;
	padding: 35px 48px;
	
}
.content__article .info__line {
    margin-top: 15px;
    margin-bottom: 70px;
    margin-left: auto;
    width: 76.66666666666667%;
}
.line {
    border-bottom: 1px solid #e4e6f0;
    display: block;
    margin-top: -7px;
    margin-bottom: 7px;
}
.content__article__info2 {
	margin-top:70px;
    overflow: hidden;
    padding-left: 140px;
    float:left;
    margin-bottom: 7px;
}
.content__article__info2 li i {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto 14px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.content__article__info2 li:first-of-type {
    font-size: 18px;
    width: 27.08%;
    position: absolute;
    left:200px;
    text-align: left;
    color: rgba(16,29,55,.6);
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.content__article__info2 {
   
    text-decoration: line-through;
}
.content__article__info2 li {
    width: 20%;
    text-align: center;
    color: #969696;
    margin-right:50px;
    margin-bottom: 28px;
}

.oneline {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.fl {
    float: left;
}
#h3 {
    font-size: 24px;
    font-weight: 700;
   	position:relative;
   	top:490px;
   	left:-550px;
    line-height: 33px;
}
.content__table .table {
	position:relative;
	top:500px;
    width: 100%;
    font-size: 16px;
}
.content__table .table .td, .content__table .table .th {
    width: 20%;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 30px;
}

.content__table .table .th {
    border-bottom: 1px solid #e4e6f0;
    color: rgba(16,29,55,.4);
}
.content__table .table .tr:first-child {
    margin-bottom: 5px;
}
.content__table .table .tr {
    height:30px;
    position:relative;
    top:-450px;
    padding-bottom: 5px;
}
#place{
	height: 400px;
	width:830px;
	position: relative;
	top: 90px;
}
#zi{
	position: relative;
	top: 80px;
}
#recommendList{
	width: 1000px;
	height: 660px;
	position: relative;
	top: 130px;
}
.bottom__list--title{
	margin-top: 20px;
}
.bottom__list--wrapper .bottom__list--item{
	height: 270px;
	width: 285px;
	display: inline-block;
	margin-right: 13px;
	margin-bottom: 20px;
}
.bottom__list--item .list-picture{
	width: 285px;
	height: 180px
}
#myPageTop{
    position: absolute;
    z-index:10;
    top:0;
    left:50%;
    transform: translateX(-50%);
    background: #fff;
    width:80%;
    padding:20px;
}

#myPageTop a{
    display: inline-block;
    text-align: center;
    padding:6px 20px;
    color:#fff;
    background: #a0c8ff;
    text-decoration:none;
}
#myPageTop #show{
    display: block;
}
#myPageTop input{
    font-size:14px;
    padding:6px 8px;
    border:1px solid #ccc;
    outline:none;
}
.pageShow h3{
    margin:20px 0 10px;
}
#panel {
    position: absolute;
    background-color: white;
    max-height: 90%;
    overflow-y: auto;
    top: 10px;
    right: 10px;
    width: 280px;
}
.infowindow-content{
    padding:12px 8px;
    color:#fff;
    background:#ccc;
}
#container {
    height: 100%;
    overflow: visible;
}




